<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Masonry Layout</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="grid">
    <div class="box tall">Tall</div>
    <div class="box wide">Wide</div>
    <div class="box square">Square</div>
    <div class="box small">Small</div>
    <div class="box big">Big</div>
    <div class="box">Normal</div>
    <!-- 원하면 더 추가 -->
  </div>

  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script>
    const grid = document.querySelector('.grid');
    new Masonry(grid, {
      itemSelector: '.box',
      columnWidth: '.box',
      percentPosition: true,
      gutter: 10
    });
  </script>
</body>
</html>
