<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MarsKeys Variable Grid</title>
    <link rel="stylesheet" href="/assets/css/marskeys.css" />
  </head>
  <body>
    <main class="grid">
      <div class="grid-item youtube-carousel">
        <div class="carousel-track">
          <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/ScMzIvxBSi4" allowfullscreen></iframe>
          </div>
          <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen></iframe>
          </div>
          <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/3tmd-ClpJxA" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="grid-break"></div>
      <div class="grid-item tall">Tall</div>
      <div class="grid-item wide">Wide</div>
      <div class="grid-item big">Big</div>
      <div class="grid-item small">Small</div>
      <div class="grid-item">Normal</div>
      <div class="grid-item wide">Wide again</div>
      <div class="grid-item tall">Tall again</div>
      <div class="grid-item big">Big again</div>
    </main>
  </body>
</html>
