<!DOCTYPE html>
<html class="dark" lang="<%= lang %>">
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/assets/css/index.css" />

  <body class="light">
    <div id="preloader">
      <div class="spinner"></div>
    </div>
    <%- include('partials/header') %>
  
  </body>
</html>
