<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>회원가입 테스트 페이지</title>
</head>
<body>
  <h1>회원가입 테스트</h1>
  <% if (error) { %>
    <p style="color:red;"><%= error %></p>
  <% } %>
  <form action="/signup" method="POST">
    <input type="text" name="user_id" placeholder="아이디" required /><br />
    <input type="text" name="username" placeholder="닉네임" required /><br />
    <input type="email" name="email" placeholder="이메일 (선택)" /><br />
    <input type="password" name="password" placeholder="비밀번호" required /><br />
    <button type="submit">가입하기</button>
  </form>
</body>
</html>
